* {
  margin: 0;
  padding: 0;
}
header {
  display: flex;
  background-color: rgb(16, 16, 69);
  height: 60px;
}
.wrap {
  display: flex;
  align-items: center;
}
ul {
  display: flex;
  list-style-type: none;
  column-gap: 20px;
}
header button {
  background-color: transparent;
  color: whitesmoke;
  cursor: pointer;
  border: none;
}
header > .wrap {
  justify-content: space-between;
  width: 100%;
}
header img {
  width: 20px;
  height: 20px;
}
